button{

    background-color:rgb(6, 144, 185);
    border-style: hidden;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    height: 50px;
    margin-top:30px;
    margin-bottom: auto;
    font-size: 20px;

}

button:hover{

    background-color:rgb(2, 115, 150);
    /* box-shadow: 0px 0px 5px rgb(6, 144, 185); */
}

button:active{
    outline: 1px solid rgb(1, 85, 110);
    background-color:rgb(1, 85, 110);
    /* box-shadow: 0px 0px 10px rgb(6, 144, 185); */

}
.loginSubHeader>button{
    margin: auto;
    margin-left: 0;
    height: inherit;
     padding-left: 10px; 
     padding-right:10px;;
}