.login-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0.00%,rgba(0, 0, 0, 0.69) 100.00%),url("/playground_assets/photo5388671771965767816-1500w.jpg");
  background-position: top;
}
.login-header {
  width: 100%;
  height: 113px;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0.00%,rgba(17, 17, 17, 0.84) 47.00%);
}
.login-nav {
  top: 39px;
  flex: 0 0 auto;
  left: 64px;
  width: 360px;
  height: 33px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.login-attitude {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.3s;
  font-family: Oxygen;
  margin-left: 10px;
  margin-right: 50px;
}
.login-attitude:hover {
  cursor: pointer;
}
.login-rules {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.3s;
  font-family: Oxygen;
}
.login-rules:hover {
  cursor: pointer;
}
.login-abous-us {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.3s;
  font-family: Oxygen;
  margin-left: 50px;
  margin-bottom: 0px;
}
.login-abous-us:hover {
  cursor: pointer;
}
.login-home {
  top: 34px;
  right: 48px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.login-home1 {
  font-size: 20px;
  transition: 0.3s;
  font-family: Oxygen;
  border-width: 0px;
  text-decoration: none;
  background-color: rgba(215, 213, 210, 0.86);
}
.login-home1:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
.login-main {
  width: 100%;
  height: 536px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.login-image {
  top: -31px;
  left: 345px;
  width: 218px;
  height: 120px;
  position: absolute;
  object-fit: cover;
}
.login-form {
  top: 61px;
  left: 233px;
  width: 463px;
  height: 427px;
  position: absolute;
}
.login-ul {
  left: 8px;
  width: 435px;
  bottom: 131px;
  height: 263px;
  position: absolute;
}
.login-text {
  color: #d4d4d4;
  font-size: 25px;
  font-family: Oxygen;
  line-height: 2;
  letter-spacing: 1px;
}
.login-textinput {
  width: 400px;
  height: 55px;
  transition: 0.3s;
  border-width: 0px;
  background-color: rgba(212, 212, 212, 0.89);
}
.login-textinput:focus-within {
  outline: unset;
  background-color: ghostwhite;
}
.login-label {
  color: #d4d4d4;
  font-size: 25px;
  font-family: Oxygen;
  line-height: 2;
  letter-spacing: 1px;
}
.login-textinput1 {
  width: 400px;
  height: 55px;
  transition: 0.3s;
  border-width: 0px;
  background-color: rgba(212, 212, 212, 0.89);
}
.login-textinput1:focus-within {
  outline: unset;
  background-color: ghostwhite;
}
.login-li2 {
  position: relative;
}
.login-text2 {
  color: #d4d4d4;
  right: 10px;
  bottom: -41px;
  position: absolute;
  font-size: 20px;
  text-align: right;
  transition: 0.3s;
  font-family: Oxygen;
}
.login-text2:hover {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  text-decoration: underline;
}
.login-li3 {
  right: 0px;
  bottom: 70px;
  position: absolute;
}
.login-textinput2 {
  top: 68%;
  left: 30%;
  color: #393628;
  width: 171px;
  height: 55px;
  position: absolute;
  font-size: 25px;
  box-shadow: 5px 5px 15px 0px rgba(32, 26, 26, 0.61);
  transition: 0.3s;
  font-family: Oxygen;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(212, 212, 212, 0.89);
}
.login-textinput2:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: ghostwhite;
}
.login-container1 {
  left: 314px;
  width: 307px;
  bottom: 61px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-text3 {
  color: #e8dbdb;
  font-size: 20px;
  font-family: Oxygen;
  margin-right: 10px;
}
.login-navlink {
  color: #f9f4f9;
  font-size: 20px;
  font-family: Oxygen;
  text-decoration: underline;
}
.login-container2 {
  flex: 0 0 auto;
  left: 300px;
  width: 330px;
  bottom: 5px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.login-container3 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-image1 {
  height: 100%;
  align-self: flex-end;
  object-fit: cover;
}
.login-container4 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-image2 {
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.login-container5 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-image3 {
  height: 100%;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 767px) {
  .login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .login-nav {
    left: 0px;
    width: 346px;
    position: static;
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .login-attitude {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-left: 10px;
    margin-right: 50px;
  }
  .login-rules {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-right: 50px;
  }
  .login-abous-us {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .login-image {
    top: 127px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .login-form {
    top: 210px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .login-ul {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .login-textinput2 {
    top: 304px;
    left: 139px;
  }
  .login-container1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
@media(max-width: 479px) {
  .login-header {
    padding: var(--dl-space-space-unit);
  }
}
