.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(218, 223, 227, 0.1) 0.00%,rgba(49, 42, 16, 0.89) 82.00%),url("/playground_assets/wp8884108-1500w.webp");
  background-repeat: no-repeat;
  background-position: left;
}
.profile-header {
  width: 100%;
  height: 113px;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 21px;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgba(189, 195, 199, 0) 12.00%,rgba(0, 0, 0, 0.68) 66.00%);
}
.profile-nav {
  top: 24px;
  flex: 0 0 auto;
  left: 67px;
  width: 537px;
  height: 66px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-navlink {
  display: contents;
}
.profile-image {
  width: 170px;
  height: 93px;
  object-fit: cover;
  text-decoration: none;
}
.profile-attitude {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  font-family: Oxygen;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: 50px;
}
.profile-attitude:hover {
  cursor: pointer;
}
.profile-rules {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  font-family: Oxygen;
}
.profile-rules:hover {
  cursor: pointer;
}
.profile-about-us {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  font-family: Oxygen;
  margin-left: 50px;
  margin-bottom: 0px;
}
.profile-about-us:hover {
  cursor: pointer;
}
.profile-main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.profile-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 230px;
  display: flex;
  align-items: flex-start;
}
.profile-container02 {
  flex: 0 0 auto;
  width: 22%;
  height: 230px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.profile-image1 {
  height: 200px;
  align-self: center;
  margin-top: 25px;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 50%;
}
.profile-container03 {
  flex: 0 0 auto;
  width: 5%;
  height: 230px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-container04 {
  flex: 0 0 auto;
  width: 70%;
  height: 230px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-form {
  width: 786px;
  height: 163px;
  align-self: flex-start;
  margin-top: 8%;
}
.profile-container05 {
  flex: 0 0 auto;
  width: 831px;
  height: 102px;
  display: flex;
  align-items: flex-start;
}
.profile-container06 {
  flex: 0 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.profile-text {
  color: #ffffff;
  font-size: 22px;
  font-family: Oxygen;
  letter-spacing: 1px;
}
.profile-textinput {
  width: 100%;
  font-size: 20px;
  align-self: center;
  margin-top: 20px;
  transition: 0.3s;
  font-family: Oxygen;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0.73);
}
.profile-textinput:focus-within {
  outline: unset;
  border-width: 0px;
  background-color: ghostwhite;
}
.profile-container07 {
  flex: 0 0 auto;
  width: 5%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-container08 {
  flex: 0 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text01 {
  color: #ffffff;
  font-size: 22px;
  font-family: Oxygen;
  letter-spacing: 1px;
}
.profile-textinput1 {
  width: 100%;
  font-size: 20px;
  align-self: center;
  margin-top: 20px;
  transition: 0.3s;
  font-family: Oxygen;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0.73);
}
.profile-textinput1:focus-within {
  outline: unset;
  background-color: ghostwhite;
}
.profile-container09 {
  flex: 0 0 auto;
  width: 5%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-container10 {
  flex: 0 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-textinput2 {
  color: #433825;
  width: 172px;
  height: 44px;
  align-self: flex-start;
  box-shadow: 5px 5px 15px 0px rgba(37, 30, 30, 0.69);
  margin-top: 30px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.5);
}
.profile-textinput2:hover {
  color: #593f07;
  cursor: pointer;
  box-shadow: none;
  background-color: ghostwhite;
}
.profile-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.profile-container12 {
  flex: 0 0 auto;
  width: 27%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.profile-container13 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-text03 {
  color: #ffffff;
  align-self: flex-end;
  font-style: normal;
  font-family: Oxygen;
  font-weight: 400;
  margin-right: 15px;
}
.profile-container14 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-text05 {
  color: #ffffff;
  align-self: flex-start;
  box-shadow: 5px 5px 15px 0px rgba(24, 21, 21, 0.65);
  font-family: Oxygen;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgba(49, 42, 30, 0.55);
}
.profile-container15 {
  flex: 0 0 auto;
  width: 73%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.profile-ul {
  width: 85%;
  height: 300px;
  overflow: hidden;
  box-shadow: 5px 5px 20px 0px rgba(20, 19, 19, 0.54);
  margin-top: 35px;
  overflow-y: scroll;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 10px;
  background-color: rgba(212, 212, 212, 0.21);
}
.profile-list-item {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Oxygen;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.profile-text07 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.profile-list-item1 {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Oxygen;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.profile-text08 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.profile-list-item2 {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Oxygen;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.profile-text09 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.profile-list-item3 {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Oxygen;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.profile-text10 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.profile-list-item4 {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Oxygen;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.profile-text11 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.profile-list-item5 {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Oxygen;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.profile-text12 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.profile-list-item6 {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Oxygen;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.profile-text13 {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
@media(max-width: 767px) {
  .profile-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .profile-nav {
    top: 39px;
    left: 0px;
    width: 346px;
    height: 33px;
    position: static;
    align-self: stretch;
    align-items: flex-start;
    margin-right: 2px;
    justify-content: flex-start;
  }
  .profile-attitude {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-left: 10px;
    margin-right: 50px;
  }
  .profile-rules {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-right: 50px;
  }
  .profile-about-us {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .profile-header {
    padding: var(--dl-space-space-unit);
  }
}
