.sign-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(189, 195, 199, 0) 1.00%,rgba(0, 0, 0, 0.69) 99.00%),url("/playground_assets/imgur-1500w.jpg");
}
.sign-up-header {
  width: 100%;
  height: 113px;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0.00%,rgba(17, 17, 17, 0.84) 47.00%);
}
.sign-up-nav {
  top: 39px;
  flex: 0 0 auto;
  left: 64px;
  width: 360px;
  height: 33px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up-attitude {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.3s;
  font-family: Oxygen;
  margin-left: 10px;
  margin-right: 50px;
}
.sign-up-attitude:hover {
  cursor: pointer;
}
.sign-up-rules {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.3s;
  font-family: Oxygen;
}
.sign-up-rules:hover {
  cursor: pointer;
}
.sign-up-abous-us {
  color: #d4d4d4;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.3s;
  font-family: Oxygen;
  margin-left: 50px;
  margin-bottom: 0px;
}
.sign-up-abous-us:hover {
  cursor: pointer;
}
.sign-up-home {
  top: 34px;
  right: 48px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-home1 {
  font-size: 20px;
  transition: 0.3s;
  font-family: Oxygen;
  border-width: 0px;
  text-decoration: none;
  background-color: rgba(215, 213, 210, 0.86);
}
.sign-up-home1:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
.sign-up-container01 {
  width: 100%;
  height: 569px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up-container02 {
  flex: 0 0 auto;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-container03 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-start;
}
.sign-up-image {
  width: 276px;
  height: 115px;
  margin-top: -20px;
  object-fit: cover;
  margin-left: 90px;
}
.sign-up-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
}
.sign-up-form {
  top: -56px;
  left: 8px;
  width: 463px;
  height: 424px;
  position: absolute;
  align-self: flex-start;
}
.sign-up-ul {
  top: 16px;
  left: 25px;
  width: 408px;
  height: 263px;
  position: absolute;
  padding-left: 0px;
}
.sign-up-label {
  color: #d4d4d4;
  font-size: 25px;
  font-family: Oxygen;
  line-height: 2;
  letter-spacing: 1px;
}
.sign-up-textinput {
  width: 400px;
  height: 55px;
  transition: 0.3s;
  border-width: 0px;
  background-color: rgba(212, 212, 212, 0.89);
}
.sign-up-textinput:focus-within {
  outline: unset;
  background-color: ghostwhite;
}
.sign-up-text1 {
  color: #d4d4d4;
  font-size: 25px;
  font-family: Oxygen;
  line-height: 2;
  letter-spacing: 1px;
}
.sign-up-textinput1 {
  width: 400px;
  height: 55px;
  transition: 0.3s;
  border-width: 0px;
  background-color: rgba(212, 212, 212, 0.89);
}
.sign-up-textinput1:focus-within {
  outline: unset;
  background-color: ghostwhite;
}
.sign-up-li2 {
  position: relative;
}
.sign-up-li3 {
  right: 0px;
  bottom: 70px;
  position: absolute;
}
.sign-up-textinput2 {
  top: 288px;
  left: 139px;
  color: #393628;
  width: 171px;
  height: 55px;
  position: absolute;
  font-size: 25px;
  box-shadow: 5px 5px 15px 0px rgba(26, 22, 22, 0.66);
  transition: 0.3s;
  font-family: Oxygen;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(212, 212, 212, 0.89);
}
.sign-up-textinput2:hover {
  cursor: pointer;
  box-shadow: none;
  background-color: ghostwhite;
}
.sign-up-container06 {
  top: 312px;
  left: 102px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-text2 {
  color: #e8dbdb;
  font-size: 20px;
  font-family: Oxygen;
  margin-right: 10px;
}
.sign-up-navlink {
  color: #f9f4f9;
  font-size: 20px;
  font-family: Oxygen;
  text-decoration: underline;
}
.sign-up-container07 {
  top: 350px;
  flex: 0 0 auto;
  left: 80px;
  width: 330px;
  bottom: 0px;
  height: 41px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-start;
}
.sign-up-container08 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-image1 {
  height: 100%;
  align-self: flex-end;
  object-fit: cover;
}
.sign-up-container09 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-image2 {
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.sign-up-container10 {
  flex: 0 0 auto;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.sign-up-image3 {
  height: 100%;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 991px) {
  .sign-up-image {
    margin-left: 160px;
  }
}
@media(max-width: 767px) {
  .sign-up-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .sign-up-nav {
    left: 0px;
    width: 346px;
    position: static;
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sign-up-attitude {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-left: 10px;
    margin-right: 50px;
  }
  .sign-up-rules {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-right: 50px;
  }
  .sign-up-abous-us {
    color: #d4d4d4;
    margin-top: 5px;
    font-family: Oxygen;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .sign-up-container02 {
    width: 20%;
  }
  .sign-up-image {
    width: 50%;
    height: 129px;
    margin-left: 80px;
  }
  .sign-up-container05 {
    width: 547px;
    position: relative;
  }
  .sign-up-form {
    top: 8px;
    left: 0px;
    height: 399px;
    position: absolute;
  }
  .sign-up-ul {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-textinput2 {
    top: 304px;
    left: 139px;
  }
  .sign-up-container06 {
    flex: 1;
    left: 0px;
    right: 0px;
    width: 580px;
    position: static;
    align-self: flex-end;
    align-items: stretch;
    margin-left: 90px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .sign-up-text2 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .sign-up-header {
    padding: var(--dl-space-space-unit);
  }
}
