.menu-button{
    font-family: 'Alumni Sans', sans-serif;
    color: #E3E3E3;
    font-size: 200%;
    text-decoration: none;
}
body{
    background-image:url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
