.navigation-links-nav {
  flex: 0 0 auto;
  width: 370px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #d4d4d4;
  font-size: 20px;
  font-family: Oxygen;
  border-width: 0px;
  background-color: transparent;
}
.navigation-links-text1 {
  color: #d4d4d4;
  font-size: 20px;
  font-family: Oxygen;
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  background-color: transparent;
}
.navigation-links-text2 {
  color: #d4d4d4;
  font-size: 20px;
  font-family: Oxygen;
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  background-color: transparent;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
